/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Menumanager
 * @author      Magemonks <info@magemonks.nl>
 * @copyright   2012 Magemonks (http://www.magemonks.nl)
 * @license     http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */

#page\:main-container > .columns{
    background-position: 297px 0
}
#page\:main-container > .columns > div.side-col{
    margin-right: -297px;
    width: 297px;
}

#page\:main-container > .columns > div.main-col{
    margin-left: 300px;
}

.form-list td.value p.note {
    width: auto;;
}

#menumanager-tree{
    padding-bottom: 108px;
}

.menumanager-treenote{
    padding-right: 27px;
    color: #C3C3C3;
    display: block;
}

#menumanager-item-edit-form-container small{
    display: block;
}
#menumanager-item-edit-form-container h3 small{
    font-size: 10px;
}
#menumanager-item-edit-form-container form small{
    color: #C3C3C3;
}

.fieldset-wide .form-list td.value input.input-text.magemonks-colorpicker{
    width: 280px !important;
}