/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Menumanager
 * @author      Magemonks <info@magemonks.nl>
 * @copyright   2012 Magemonks (http://www.magemonks.nl)
 * @license     http://www.magemonks.nl/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */

#topnav { width:950px; height: 28px; margin:0 auto; font-size:13px; position: relative; text-align: left;}
#topnav:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* level 0 */
#topnav li.menumanager-item.level0 { display: inline-block; height: 28px; }
#topnav li.menumanager-item.level0 > a { font-weight: bold; padding: 4px 8px; height: 20px; }
#topnav li.menumanager-item.level0 > a >  img { max-height: 20px; vertical-align: middle; }
#topnav li.menumanager-item.level0 > ul.menumanager-submenu { top:28px; border-top: none; }
#topnav li.menumanager-item.level0 > ul.menumanager-submenu.shown-sub { left: 0 }

/* level 0 and higher */
#topnav ul.menumanager-submenu { position: absolute; left: -9999px; z-index: 999;}
#topnav li.menumanager-item { position: relative; text-align: left; }
#topnav li.menumanager-item.over { z-index: 998; }
#topnav li.menumanager-item > a { text-decoration: none; display: inline-block; color: #a7c6dd;}
#topnav li.menumanager-item > a.no-link {cursor: default }
#topnav li.menumanager-item.over > a,
#topnav li.menumanager-item.active > a { color: #d96708; }
#topnav li.menumanager-item > ul.menumanager-submenu { border:1px solid #cbcbc9; background: #fff; -webkit-box-shadow: 0px 5px 5px rgba(8, 15, 15, 0.28); -moz-box-shadow: 0px 5px 5px rgba(8, 15, 15, 0.28); box-shadow: 0px 5px 5px rgba(8, 15, 15, 0.28); }

/* level 1 and higher */
#topnav ul.menumanager-submenu.level0 li.menumanager-item { float:none; border-bottom: 1px solid #e7e6e3; }
#topnav ul.menumanager-submenu.level0 li.menumanager-item.last { border-bottom: none }
#topnav ul.menumanager-submenu.level0 li.menumanager-item > a { color:#2f2f2f; width: 150px; display: block; padding: 3px 15px 4px 15px; }
#topnav ul.menumanager-submenu.level0 li.menumanager-item > a > span { vertical-align: middle; }
#topnav ul.menumanager-submenu.level0 li.menumanager-item > a > img { max-width: 150px; vertical-align: middle; }
#topnav ul.menumanager-submenu.level0 li.menumanager-item.parent > a { background:url(../images/bkg_nav2.gif) 100% 100% no-repeat;}
#topnav ul.menumanager-submenu.level0 li.menumanager-item.over > a { color:#d96708 }
#topnav li.menumanager-item.level1 ul.menumanager-submenu { top:4px; }
#topnav li.menumanager-item.level1 ul.menumanager-submenu.shown-sub { left: 130px;}

/* Customer Account*/
.menumanager-menu-identifier-customer_account_navigation .current a {color: #ea7900 !important; font-weight: bold; }

/*  MEGA MENUS  */
#topnav li.menumanager-item.level0.menumanager-item-child-alignment-left,
#topnav li.menumanager-item.level0.menumanager-item-child-alignment-right { position: static; }
#topnav .menumanager-item-type-megamenu { position: absolute; left: -9999px; top: 28px; border: 1px solid #e6e6e3; background: #fff; -webkit-box-shadow: 0px 5px 5px rgba(8, 15, 15, 0.28);  -moz-box-shadow: 0px 5px 5px rgba(8, 15, 15, 0.28); box-shadow: 0px 5px 5px rgba(8, 15, 15, 0.28);}
/*#topnav .menumanager-item-type-megamenu { left: 0 }*/
#topnav .menumanager-item-type-megamenu.shown-sub { left: 0; z-index: 999}
#topnav .menumanager-item-type-megamenu.alignment-left { left: 0; }
#topnav .menumanager-item-type-megamenu.alignment-right { right: 0; }
#topnav .menumanager-item-type-megamenu.menumanager-item-column-width-1 { width: 158px; }
#topnav .menumanager-item-type-megamenu.menumanager-item-column-width-2 { width: 316px; }
#topnav .menumanager-item-type-megamenu.menumanager-item-column-width-3 { width: 474px; }
#topnav .menumanager-item-type-megamenu.menumanager-item-column-width-4 { width: 632px; }
#topnav .menumanager-item-type-megamenu.menumanager-item-column-width-5 { width: 790px; }
#topnav .menumanager-item-type-megamenu.menumanager-item-column-width-6 { width: 948px; }

/* Megamenu rows */
#topnav .menumanager-item-type-megamenu_row{ margin: 10px 0 20px 0; } /* in a 960 grid add 10px margin left/right */
#topnav .menumanager-item-type-megamenu_row.last { margin-bottom: 10px }
#topnav .menumanager-item-type-megamenu_row:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
#topnav .menumanager-item-type-megamenu_row.menu-item-border-top { padding-top: 9px; border-top: 1px solid #e6e6e3;}
#topnav .menumanager-item-type-megamenu_row.menu-item-border-bottom { padding-bottom: 9px; border-bottom: 1px solid #e6e6e3; margin-bottom: 10px;}

/* Megamenu columns */
#topnav .menumanager-item-type-megamenu_column { float: left; padding: 0 10px; min-height: 1px;}
#topnav .menumanager-item-type-megamenu_column.menu-item-border-top { padding-top: 9px; border-top: 1px solid #e6e6e3; }
#topnav .menumanager-item-type-megamenu_column.menu-item-border-right { padding-right: 9px; border-right: 1px solid #e6e6e3; }
#topnav .menumanager-item-type-megamenu_column.menu-item-border-bottom { padding-bottom: 9px; border-bottom: 1px solid #e6e6e3; }
#topnav .menumanager-item-type-megamenu_column.menu-item-border-left { padding-left: 9px; border-left: 1px solid #e6e6e3; }
    /* the width of the columns (same as menu sizes minus the padding left and right for a column) */
#topnav .menumanager-item-type-megamenu_column.menumanager-item-column-width-1 { width: 138px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item-column-width-2 { width: 296px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item-column-width-3 { width: 454px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item-column-width-4 { width: 612px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item-column-width-5 { width: 770px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item-column-width-6 { width: 928px; }
    /* normal items inside a column */
#topnav .menumanager-item-type-megamenu_column > div { display: block; clear: both;}
    /* items inside a column with a width specified  */
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width {padding: 0 10px 0; margin-top: 5px; ; float: left; display: inline-block; clear: none;}
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-first-in-column {padding-left: 0; clear: left; }
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-last-in-column {padding-right: 0; clear: right;}
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-first-in-column.menumanager-item-last-in-column { clear: both;}
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-in-first-column-row {margin-top: 0; }
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-column-width-1 { width: 138px; }
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-column-width-2 { width: 296px; }
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-column-width-3 { width: 454px; }
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-column-width-4 { width: 612px; }
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-column-width-5 { width: 770px; }
#topnav .menumanager-item-type-megamenu_column > div.menumanager-item-has-column-width.menumanager-item-column-width-6 { width: 928px; }

/* Megamenu headers */
#topnav .menumanager-item-type-megamenu_header { display: block; margin: 10px 0;}
#topnav .menumanager-item-type-megamenu_row > .menumanager-item-type-megamenu_header { padding: 0 10px; } /* a header directly under a row needs padding left/right, in a 960 grid make this 20 px */
#topnav .menumanager-item-type-megamenu_header.first { margin-top: 0; }

/* Megamenu menus */
#topnav .menumanager-item-type-megamenu_menu ul { border: none !important; position: static !important; -webkit-box-shadow: none !important;  -moz-box-shadow: none !important; box-shadow: none !important; }
#topnav .menumanager-item-type-megamenu_menu > ul > li {padding: 0 10px; margin-top: 10px;  width: 138px; float: left; } /* make sure it's aligned with column layout */
#topnav .menumanager-item-type-megamenu_menu > ul > li.menumanager-item-first-in-column {padding-left: 0; clear: left; } /* make sure it's aligned with column layout */
#topnav .menumanager-item-type-megamenu_menu > ul > li.menumanager-item-last-in-column {padding-right: 0; clear: right; } /* make sure it's aligned with column layout */
#topnav .menumanager-item-type-megamenu_menu > ul > li.menumanager-item-first-in-column.menumanager-item-last-in-column { clear: both }
#topnav .menumanager-item-type-megamenu_menu > ul > li.menumanager-item-in-first-column-row {margin-top: 0; }
#topnav .menumanager-item-type-megamenu_menu > ul > li > ul li { float: none; font-size: 12px; line-height: 15px;}
#topnav .menumanager-item-type-megamenu_menu > ul > li > ul > li li > a { padding-left: 10px;}
#topnav .menumanager-item-type-megamenu_menu li span.menumanager-item-title { color: #2F2F2F !important }
#topnav .menumanager-item-type-megamenu_menu li span.menumanager-item-title:hover { color: #d96708 !important }
#topnav .menumanager-item-type-megamenu_menu > ul > li > a { font-weight: bold}
#topnav .menumanager-item-type-megamenu_menu li.menumanager-item-mode-image > a > img { max-width: 138px;}


/* Megamenu item specific */
#topnav .menumanager-item-type-megamenu_wysiwyg li,
#topnav .menumanager-item-type-megamenu_cmsblock li { background: none transparent !important; float: none; padding: 0; }
#topnav .menumanager-item-type-megamenu_wysiwyg li a,
#topnav .menumanager-item-type-megamenu_cmsblock li a { background: none transparent !important; display: inline}
#topnav .menumanager-item-type-megamenu_wysiwyg  ul,
#topnav .menumanager-item-type-megamenu_cmsblock ol { padding-left: 10px;}
#topnav .menumanager-item-type-megamenu_wysiwyg ul,
#topnav .menumanager-item-type-megamenu_cmsblock ul { list-style: disc inside;}
#topnav .menumanager-item-type-megamenu_wysiwyg ol,
#topnav .menumanager-item-type-megamenu_cmsblock ol { list-style: decimal inside;}
#topnav .menumanager-item-type-megamenu_horizontaldivider hr { border-bottom: 1px dotted black; height: 1px; background-color: transparent; color: transparent}
#topnav .menumanager-item-type-megamenu_header h1, #topnav .menumanager-item-type-megamenu_header h2, #topnav .menumanager-item-type-megamenu_header h3, #topnav .menumanager-item-type-megamenu_header h4, #topnav .menumanager-item-type-megamenu_header h5,#topnav .menumanager-item-type-megamenu_header h6 { margin: 0}
#topnav .menumanager-item-type-megamenu_column.menumanager-item.menumanager-item-column-width-1 .menumanager-item-type-megamenu_image img { max-width: 138px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item.menumanager-item-column-width-2 .menumanager-item-type-megamenu_image img { max-width: 296px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item.menumanager-item-column-width-3 .menumanager-item-type-megamenu_image img { max-width: 454px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item.menumanager-item-column-width-4 .menumanager-item-type-megamenu_image img { max-width: 612px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item.menumanager-item-column-width-5 .menumanager-item-type-megamenu_image img { max-width: 770px; }
#topnav .menumanager-item-type-megamenu_column.menumanager-item.menumanager-item-column-width-6 .menumanager-item-type-megamenu_image img { max-width: 928px; }
#topnav .menumanager-item-type-megamenu_productsblock { font-size: 11px; }
#topnav .menumanager-item-type-megamenu_productsblock a { color: #2F2F2F; text-decoration: none }
#topnav .menumanager-item-type-megamenu_productsblock h6 { font-weight: bold }
#topnav .menumanager-item-type-megamenu_productsblock div.ratings p {display: none}

