<?php
/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Menumanager
 * @author      Magemonks <info@magemonks.com>
 * @copyright   2012 Magemonks (http://www.magemonks.com)
 * @license     http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */
?>

<?php $_helper = Mage::helper('menumanager') ?>

<div id="menumanager-item-edit-form-container" data-itemid="<?php echo $this->getItemId() ?>">
    <div class="content-header">
            <h3><?php echo $this->getHeaderText() ?></h3>
            <p class="content-buttons form-buttons">
                <?php echo $this->getBackButtonHtml() ?>
                <?php echo $this->getResetButtonHtml() ?>
                <?php echo $this->getAdditionalButtonsHtml(); ?>
                <?php echo $this->getSaveButtonHtml() ?>
                <?php echo $this->getSaveEnableButtonHtml() ?>
            </p>
    </div>
    <div class="entry-edit">
        <?php echo $this->getFormHtml();?>
    </div>
    <?php echo $this->getChildHtml('form_after');?>
</div>
<script type="text/javascript">
//<![CDATA[
    (function($){
        $(document).ready(function() {
            var form = new varienForm('menumanagerItemEditForm');
            form.submit = function(data){
                if($.type(data) !== 'object'){
                    data = {'isAjax': true};
                }
                else{
                    data.isAjax = true;
                }

                //override default submit method
                if(this.validator && this.validator.validate()){
                    magemonksBeforeAjaxRequest(true);
                    var options = {
                        dataType: "json",
                        clearForm:      false,               // clear all form fields after successful submit
                        data:          data,
                        success:       function(response, a){
                            response = magemonksProcessjsonResponse(response);
                            if(response && response.id){
                                if(response.new_column_width){
                                    var element = $('#treenode_'+response.id);
                                    if(element.data('column_width')){
                                        element.removeClass('column_width_'+element.data('column_width'));
                                    }
                                    element.data('column_width', response.new_column_width);
                                    element.addClass('column_width_'+response.new_column_width);
                                }
                                if(response.new_status === 1 && response.id){
                                    var element = $('#treenode_'+response.id);
                                    element.removeClass('jstree-leaf-disabled');
                                }
                            }
                            magemonksAfterAjaxRequest();
                        },
                        error:         function(response, a){
                            magemonksAfterAjaxRequest($);
                            alert('An unkown error has occured: '+response.status+' '+response.statusText);
                        }
                    };

                    $('#menumanagerItemEditForm').ajaxSubmit(options);
                }
                return false;
            }

            $('#menumanagerItemSave').bind('click', function(event){
                event.preventDefault();
                form.submit();
            });

            $('#menumanagerItemSaveEnable').bind('click', function(event){
                event.preventDefault();
                form.submit({ 'isEnable' : true});
            });

            $('#menumanagerItemReset').bind('click', function(event){
                event.preventDefault();
                $.magemonksAdminhtmlAjax({
                    "url" : "<?php echo $this->getResetUrl() ?>",
                    "success": function(response){
                        if($.type(response) === 'null'){
                            return null;
                        }
                        if(response.content){
                            $('#menumanager-item-edit-container').html(response.content);
                        }
                    }
                });
            })
        });
    })(jQuery);
//]]>
</script>