<?php
/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Menumanager
 * @author      Magemonks <info@magemonks.com>
 * @copyright   2012 Magemonks (http://www.magemonks.com)
 * @license     http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */
/* @var $this Magemonks_Menumanager_Block_Menu */
?>
<?php $html = $this->getHtml() ?>

<?php if($html): ?>
    <?php $menu = $this->getData('menu') ?>
    <div class="block block-account">
        <div class="block-title">
            <strong><span><?php echo $this->__('My Account'); ?></span></strong>
        </div>
        <div class="block-content">
            <?php echo $menu->getData('html_before') ?>

            <?php echo $this->getMenuWrapperOpen() ?>
            <?php echo $html ?>
            <?php echo $this->getMenuWrapperClose() ?>

            <?php echo $menu->getData('html_after') ?>
        </div>
    </div>
<?php endif ?>


