<?php
/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Menumanager
 * @author      Magemonks <info@magemonks.com>
 * @copyright   2012 Magemonks (http://www.magemonks.com)
 * @license     http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */
/* @var $this Magemonks_Menumanager_Block_Item_Megamenu_Productsblock_Product */
?>

<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
    $_menumanagerBlock = $this->getMenumanagerBlock();
    $_elements = (array) $_menumanagerBlock->getItemData('elements');
?>

<?php if(in_array('image', $_elements)): ?>
    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
    </a>
<?php endif; ?>

<?php if(in_array('name', $_elements)): ?>
    <h6 class="product-name">
        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
            <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
        </a>
    </h6>
<?php endif; ?>

<?php if(in_array('reviews', $_elements)): ?>
    <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
<?php endif; ?>

<?php if(in_array('price', $_elements)): ?>
    <?php echo $this->getPriceHtml($_product, true) ?>
<?php endif; ?>

<?php if(in_array('short_description', $_elements)): ?>
    <div class="desc std">
        <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
        <?php if(in_array('learn_more', $_elements)): ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="link-learn">
                <?php echo $this->__('Learn More') ?>
            </a>
        <?php endif; ?>
    </div>
<?php endif; ?>

<?php if(!in_array('short_description', $_elements) && in_array('learn_more', $_elements)): ?>
<div class="desc std">
    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="link-learn">
        <?php echo $this->__('Learn More') ?>
    </a>
</div>
<?php endif; ?>


<?php if(in_array('add_to_cart', $_elements) && $_product->isSaleable()): ?>
    <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
        <span><span><?php echo $this->__('Add to Cart') ?></span></span>
    </button>
<?php elseif(in_array('out_of_stock', $_elements) && !$_product->isSaleable()): ?>
    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
<?php endif; ?>

<?php if( (in_array('add_to_wishlist', $_elements) && $this->helper('wishlist')->isAllow()) || (in_array('add_to_compare', $_elements) && $_compareUrl=$this->getAddToCompareUrl($_product))  ): ?>
    <ul class="add-to-links">

        <?php if (in_array('add_to_wishlist', $_elements) && $this->helper('wishlist')->isAllow()) : ?>
            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
        <?php endif; ?>

        <?php if(in_array('add_to_compare', $_elements) && $_compareUrl): ?>
            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
        <?php endif; ?>

    </ul>
<?php endif; ?>