<?php
/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Menumanager
 * @author      Magemonks <info@magemonks.com>
 * @copyright   2012 Magemonks (http://www.magemonks.com)
 * @license     http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */
?>

<?php $_helper = Mage::helper('menumanager') ?>



<div id='menumanager-tree'></div>
<small class='menumanager-treenote'><?php echo $_helper->__("Note: Labels shown in the tree are used for internal reference only and are not displayed on the front-end.") ?></small>

<script type="text/javascript">
//<![CDATA[
    (function($){
        $(document).ready(function() {
            $("#menumanager-tree").jstree({
                "plugins" : ["themes","json_data","crrm","dnd","search","types","contextmenu"],
                "dnd":{
                    "copy_modifier" : ""
                },
                "themes":{
                    "theme" : "magemonks",
                    "url": "<?php echo $this->getSkinUrl('magemonks/core/js/lib/jquery.jstree/themes/magemonks/style.css'); ?>"
                },
                "json_data" : {
                    "data" : <?php echo $this->getTreeJson() ?>
                },
                "types" : {
                    "types" :  <?php echo $this->getTypesJson() ?>
                },
                "contextmenu" : { "items" : function(obj){
                    obj.children('a').addClass('jstree-loading');

                    var promise = new $.Deferred();

                    $.magemonksAdminhtmlAjax({
                        "url":"<?php echo $this->getAjaxUrl() ?>",
                        "type": "POST",
                        "dataType": "json",
                        "disableLoadingMask": true,
                        "async": true,
                        "data": {
                            "form_key" : FORM_KEY,
                            "operation" : "getcontextmenu",
                            "id" : obj.data('id')
                        },
                        "success": function(response){
                            obj.children('a').removeClass('jstree-loading');
                            response = magemonksProcessjsonResponse(response);
                            if($.type(response) === 'null'){
                                promise.resolve({});
                            }
                            else{
                                var items = {}

                                var submenu  = {};
                                if(response.data.createmenu.length > 0){
                                    $.each(response.data.createmenu, function(index, data){
                                        submenu[data.type] = {
                                                "label":        data.label,
                                                "icon"          : data.icon,
                                                "action":       function(obj){
                                                    this.create_node(
                                                        obj,
                                                        'last',
                                                        {
                                                            'data': {
                                                                "title": data.label
                                                            },
                                                            'attr': {
                                                                'rel': data.type,
                                                                'class': 'jstree-leaf-disabled'
                                                            }
                                                        }
                                                    );
                                                }
                                            }
                                    });
                                }
                                items.create = {
                                    "label"             : "<?php echo $_helper->__("Create") ?>",
                                    "icon"              : response.data.iconBasePath+"/create.png",
                                    "action"            : false,
                                    "submenu"           : submenu,
                                    "_disabled"          : response.data.createmenu.length > 0 ? false : true
                                }


                                if(response.data.isEnabled == true){
                                    items.disable = {
                                        "label"         : "<?php echo $_helper->__("Disable") ?>",
                                        "icon"          : response.data.iconBasePath+"/disable.png",
                                        "action"        : function (obj){
                                                           $.magemonksAdminhtmlAjax({
                                                                "url": "<?php echo $this->getAjaxUrl() ?>",
                                                                "data" : {
                                                                    "operation" : "disable",
                                                                    "id" : obj.data('id')
                                                                },
                                                                "success" : function (response) {
                                                                    if($.type(response) !== 'null'){
                                                                        obj.addClass('jstree-leaf-disabled');
                                                                    }                                                                    

                                                                }
                                                            });
                                                        },
                                        "_disabled"     : response.data.canDisable ? false : true
                                    }
                                }
                                else{
                                    items.enable = {
                                        "label"         : "<?php echo $_helper->__("Enable") ?>",
                                        "icon"          : response.data.iconBasePath+"/enable.png",
                                        "action"        : function (obj){
                                                           $.magemonksAdminhtmlAjax({
                                                                "url": "<?php echo $this->getAjaxUrl() ?>",
                                                                "data" : {
                                                                    "operation" : "enable",
                                                                    "id" : obj.data('id')
                                                                },
                                                                "success" : function (response) {
                                                                    if($.type(response) !== 'null'){
                                                                        obj.removeClass('jstree-leaf-disabled');
                                                                    }                                                                    
                                                                }
                                                            });
                                                        },
                                        "_disabled"     : response.data.canEnable ? false : true
                                    }
                                }

                                items.rename = {
                                    "label"         : "<?php echo $_helper->__("Rename") ?>",
                                    "icon"          : response.data.iconBasePath+"/rename.png",
                                    "action"        : function (obj) { this.rename(obj); },
                                    "_disabled"     : response.data.canRename ? false : true
                                }

                                items.remove = {
                                    "label"         : "<?php echo $_helper->__("Delete") ?>",
                                    "icon"          : response.data.iconBasePath+"/delete.png",
                                    "action"        : function (obj) { if(confirm("<?php echo $_helper->__("Are you sure?") ?>")){this.delete_node(obj); }},
                                    "_disabled"     : response.data.canDelete ? false : true
                                }

                                promise.resolve(items);
                                obj.children('a').removeClass('jstree-loading');
                            }
                        }
                    });

                    return promise;
                }}
            })
            .on('click', "a", function(event, data){
                event.preventDefault();
                $.magemonksAdminhtmlAjax({
                    "url" : $(event.target).attr('href'),
                    "type" : "GET",
                    "success": function(response){
                        if($.type(response) === 'null'){
                            return null;
                        }
                        if(response.content){
                            //insert new content in container
                            $('#menumanager-item-edit-container').html(response.content);
                            //copy the header into the floating header
                            $('.content-header-floating .content-header h3').html($('#menumanager-item-edit-container .content-header h3').html())
                        }
                    }
                });
            })
            .bind("create_node.jstree", function (event, data) {
                event.preventDefault();
                $.magemonksAdminhtmlAjax({
                    "url": "<?php echo $this->getAjaxUrl() ?>",
                    "data": {
                        "operation" : "create",
                        "parent_id" : data.rslt.parent.data('id'),
                        "position" : data.rslt.position,
                        "label" : data.inst.get_text(data.rslt.obj),
                        "type" : data.rslt.obj.attr("rel")

                    },
                    "success" : function (response) {
                        if($.type(response) === 'null'){
                            $.jstree.rollback(data.rlbk);
                        }
                        else {
                            $(data.rslt.obj).attr("id", "treenode_" + response.id);
                            $(data.rslt.obj).data("id", response.id);
                            $(data.rslt.obj).find('>a').attr("href",  response.edit_url);
                            data.inst.open_node(data.rslt.parent, function(){
                                //move to end of stack
                                setTimeout(function(){
                                    data.rslt.obj.find("a").trigger("click");
                                    data.inst.rename(data.rslt.obj)
                                },0);

                            });
                        }
                    }
                });
            })
            .bind("delete_node.jstree", function (event, data) {
                event.preventDefault();
                data.rslt.obj.each(function (index, obj) {
                    $.magemonksAdminhtmlAjax({
                        "url": "<?php echo $this->getAjaxUrl() ?>",
                        "data" : {
                            "operation" : "delete",
                            "id" : $(obj).data('id')
                        },
                        "success" : function (response) {
                            if($.type(response) !== 'null'){
                                var container = $('#menumanager-item-edit-form-container');
                                if(container.length === 0){
                                    return;
                                }
                                if(container.data('itemid') != data.rslt.obj.data('id')){
                                    return;
                                }
                                container.hide();
                            }
                            else{
                                data.inst.refresh();
                            }
                        }
                    });
                });
            })
            .bind("rename.jstree", function (event, data) {
                event.preventDefault();
                $.magemonksAdminhtmlAjax({
                    "url" : "<?php echo $this->getAjaxUrl() ?>",
                    "data": {
                        "operation" : "rename",
                        "id" : data.rslt.obj.data('id'),
                        "label" : data.rslt.new_name
                    },
                    "success" : function(response){
                        if($.type(response) !== 'null'){
                            var container = $('#menumanager-item-edit-form-container');
                            if(container.length === 0){
                                return;
                            }
                            if(container.data('itemid') != data.rslt.obj.data('id')){
                                return;
                            }
                            container.find('.content-header h3').html(data.rslt.new_name);
                        }
                        else{
                            $.jstree.rollback(data.rlbk);
                        }
                    }
                });
            })
            .bind("move_node.jstree", function (event, data) {
                event.preventDefault();
                //can only use treenode elements to create a child
                if($(data.rslt.np[0]).attr('id').indexOf('treenode_') !== 0){
                    $.jstree.rollback(data.rlbk);
                    return;
                }

                //fix a little bug that appears when an item is moved up under the same parent
                var newPosition = data.rslt.cp;
                var oldPosition = data.rslt.cop;
                if(data.rslt.op[0] == data.rslt.np[0] && newPosition >= oldPosition){
                    newPosition--;
                    var newParentChildren =  $(data.rslt.np[0]).find('> ul').children();
                    if(newPosition > newParentChildren.length -1){
                        newPosition = newParentChildren.length -1;
                    }
                }

                $.magemonksAdminhtmlAjax({
                    "url": "<?php echo $this->getAjaxUrl() ?>",
                    "data" : {
                        "operation" : "move",
                        "id" : data.rslt.o.data('id'),
                        "parent_id" : data.rslt.np.data('id'),
                        "position" : newPosition
                    },
                    "success" : function (response) {
                        if($.type(response) === 'null'){
                            $.jstree.rollback(data.rlbk);
                        }
                        else {
                            $(data.rslt.oc).attr("id", "treenode_" + response.id);
                            $(data.rslt.oc).data("id", response.id);
                            if(data.rslt.cy && $(data.rslt.oc).children("UL").length) {
                                data.inst.refresh(data.inst._get_parent(data.rslt.oc));
                            }
                        }
                    }
                });

            });
        });
    })(jQuery);
//]]>
</script>