<?php
/**
 * MAGEMONKS
 *
 * LICENSE: This source file is subject to the EULA that is bundled with
 * this package in the file LICENSE.txt. It is also available through the
 * world-wide-web at the following URI: http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 *
 * @category    Magemonks
 * @package     Magemonks_Menumanager
 * @author      Magemonks <info@magemonks.com>
 * @copyright   2012 Magemonks (http://www.magemonks.com)
 * @license     http://www.magemonks.com/MAGEMONKS-LICENSE-COMMUNITY.txt
 * @version     Release: @package_version@
 */
/* @var $this Magemonks_Menumanager_Block_Item_Megamenu_Menu */
?>

<?php echo $this->getItemData('html_before') ?>

    <?php echo $this->getItemWrapperOpen() ?>
        <?php $childHtml = $this->getItemChildHtml() ?>
        <?php if($childHtml): ?>
            <?php echo $this->getSubMenuWrapperOpen() ?>
                <?php echo $childHtml ?>
            <?php echo $this->getSubMenuWrapperClose() ?>
            <div class='clearer'></div>
        <?php endif ?>
        <div class='clearer'></div>
    <?php echo $this->getItemWrapperClose() ?>

<?php echo $this->getItemData('html_after') ?>